/* Footer
----------------------------*/
.site-footer {
	background-color: #fff;
	padding: 60px 0 30px;
}


.site-footer__social {
	display: flex;
	justify-content: flex-end;
	width: 50%;

	a {
		border: 0;

		&:hover,
		&:focus,
		&:active {
			background-color: transparent;

			svg {
				color: $gold;
			}
		}
	}

	svg {
		color: $mid-gray;
		display: block;
		height: 22px;
		margin-left: 12px;
		transition: color 0.25s linear;
	}
}

.site-footer__copyright {
	color: $mid-gray;
	font-size: 0.9em;
	width: 50%;
}