/* Navigation
----------------------------*/
.site-nav__item {
	border-bottom: 0;
	color: #aaa;
	display: inline-block;
	font-size: 14px;
	font-size: 15px;
	letter-spacing: 1px;
	margin-left: 20px;
	padding: 10px 5px;
	text-transform: uppercase;
}