.accordion {
	.accordion__title {
		cursor: pointer;
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
		font-family: $sans-serif;

		&:after {
			content: "\002B";
			color: $gold;
			margin-left: 12px;
			font-size: 33px;
			line-height: 25px;
		}

		&.is-open {
			color: $gold;

			&:after {
				content: "\2013";
			}
		}
	}

	.accordion__content {
		max-height: 0;
		overflow: hidden;
		position: relative;
		transition: max-height 0.2s ease-out;

		&.is-open {
			max-height: 1000px;
		}
	}
}