.feed {
	padding-bottom: 50px;
}

.feed__link {
	border-bottom: 1px solid $border-color;
	color: $mid-gray;
	display: flex;
	padding: 30px;

	&:hover,
	&:focus,
	&:active {
		border-bottom-color: $gold;
		background-color: transparent;
		
		.feed__title {
			color: $gold;
		}

		.feed__time {
			color: $mid-gray;
		}
	}
}

.feed__title {
	border-bottom: 0;
	color: $dark-gray;
	flex: 1;
	font-weight: bold;
	line-height: 1.35;
	margin: 0;
	max-width: calc(100% - 150px);
	transition: color 0.25s linear;
}

.feed__time {
	align-items: center;
	color: $mid-gray;
	display: flex;
	justify-content: flex-end;
	width: 160px;
}

