/* Post
----------------------------*/
.post {
	margin: 0 auto;
	width: 100%;
}

.post__header,
.page__header {
	padding: 50px 0;
	text-align: center;

	&:after {
		background-color: $gold;
		content: "";
		display: block;
		height: 4px;
		margin: 50px auto 0;
		width: 120px;
	}
}

.post__title,
.page__title {
	font-size: 60px;
	line-height: 1.2;
	margin: 0;
}

.post__meta {
	color: $mid-gray;
	line-height: 1;
	margin-top: 30px;
}

.post__time {
	font-weight: bold;
	margin-left: 4px;
}

.post__content {
	color: $mid-gray;
	font-size: 24px;
	line-height: 36px;
	padding-bottom: 30px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $dark-gray;
		margin-top: 60px;
	}
}