// Colors
$navy-900: #0b2135;
$dark-gray: #102A43;
$mid-gray: #243B53;
$primary: #5D55FA;
$primary-dark: #4D3DF7;
$secondary-700: #0C6B58;
$secondary-500: #199473;
$secondary-300: #3EBD93;
$red: #CF1124;

$border-color: #eee;

// Fonts
$serif: 'Fira Sans';
$sans-serif: 'Fira Sans';

// SassMQ
$mq-responsive: true;
$mq-breakpoints: (
	mobile:   320px,
	tablet:   740px,
	tabLarge: 860px,
	desktop:  980px,
	wide:     1300px,
);
$mq-static-breakpoint: desktop;

// Toggle icon
$height-icon: 14px;
$width-line: 26px;
$height-line: 3px;
$transition-time: 0.25s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;