// Colors
$dark-gray: #283339;
$mid-gray: #455158;
$gold: #EAB75C;

// Fonts
$serif: 'Alegreya';
$sans-serif: 'Alegreya Sans';
$system: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;